#main{
    background-color: mediumslateblue;
    color: white;
    font-family: Lato;
}

#title{
    text-align: center;
}

#description{
    text-align: center;
}

#survey-form {
 width: 75%;
 max-width: 900px;
 margin: auto;
 margin-bottom: 10%;
 padding: 20px;
 text-align: center;
 width: 75%;
 background-color: rgba(10, 10, 9, 0.666);
}

#name-label {
font-size: 21px;
}

#name-box{
width: 85%;
height: 30px;
}

#email-label{
font-size: 21px;
}

#email-box{
    width: 85%;
    height: 30px;
}

#number-label{
font-size: 21px;
}

#age-box{
    width: 85%;
    height: 30px;
}

#dropdown {
    width: 85%;
    height: 50%;
    font-size: 20px;
}

.header{
    font-size: 21px;
    text-align: center;

}

#comments {
    max-width: 80%;
    max-height: 80%;
}

